.portfolio_wrap {
  // width: 100%;
  // height: 100%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 11px;

  // если ширина экрана станет меньше 1400px, тогда количество колонок станет 3
  @media (max-width: 1600px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1150px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.portfolio_item {
  padding: 10px 10px;
  margin: 20px 40px;
}
.portfolio_item a {
  display: block;
  text-decoration: none;
  color: white;
}
.portfolio_item_wrap {
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  background: black;
  color: white;
}
.portfolio_item img {
  display: block;
  width: 100%;
  opacity: 0.75;
  transition: 0.5s ease-in-out;
}
.portfolio_item_inner {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border: 1px solid white;
  border-width: 0 1px 1px;
  transition: 0.4s ease-in-out;
}
.portfolio_heading {
  overflow: hidden;
  transform: translateY(-50%);
}
.portfolio_heading h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}
.portfolio_heading h3:before,
.portfolio_heading h3:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 50px;
  height: 1px;
  background: white;
}
.portfolio_heading h3:before {
  left: -50px;
}
.portfolio_heading h3:after {
  right: -50px;
}
.portfolio_item_inner ul {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  padding: 0;
  opacity: 0;
  list-style: none;
  font-family: 'Nunito', sans-serif;
  transition: 0.4s ease-in-out;
}
.portfolio_item_inner li {
  position: relative;
  font-size: 12px;
  padding: 10px 0;
  margin-bottom: 4px;
}
.portfolio_item_inner li:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -2px;
  bottom: -4px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: white;
  box-shadow: 10px 0 0 white, -10px 0 0 white;
}
.portfolio_item_inner li:last-child:after {
  content: none;
}
.portfolio_item:hover img {
  opacity: 0.45;
  transform: scale(1.1);
}
.portfolio_item:hover .portfolio_item_inner {
  top: 7%;
  bottom: 7%;
}
.portfolio_item:hover ul {
  opacity: 1;
  transition-delay: 0.5s;
}
@media (min-width: 530px) {
  .portfolio_item {
    flex-basis: 50%;
    flex-shrink: 0;
  }
}
@media (min-width: 768px) {
  .portfolio_item {
    flex-basis: 33.333333333%;
  }
}

.error {
  padding: 100px;
  text-align: center;
  margin: 0 auto;

  span {
    font-size: 72px;
  }
}

.error_description {
  font-size: 20px;
  color: #999;
}
